/* From Uiverse.io by ShadowShahriar */
.generate_button {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 0.6em 1.25em;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

.generate_button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.generate_button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.generate_button,
.generate_button::after {
  box-sizing: border-box;
}

.generate_button:active {
  --border-width: 5px;
}

/* radio group */ /* From Uiverse.io by PhyoTP */

.radio-input {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  /* max-width: 500px; */
}

.radio-input * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.radio-input label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  cursor: pointer;
  width: 140px;
  height: 35px;
  position: relative;
  background: transparent;
}

.radio-input label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 35px;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 5px;
  border: solid 1px #334155;
}
.radio-input label:hover::before {
  transition: all 0.2s ease;
  /* background-color: #212121;
   */
  border: solid 2px #22c55e;

}

.radio-input .label:has(input:checked)::before {
  /* background-color: #334155; */
  border: solid 2px #22c55e;
  color: #fff;
  height: 40px;
}
.radio-input .label .text {
  color: #94a3b8;
  font-size: 13px;
  z-index: 2;
}

.radio-input .label input[type="radio"] {
  /* background-color: #24303f; */
  background-color: #334155;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-input .label input[type="radio"]:checked {
  background-color: #22c55e;
  -webkit-animation: puls 0.7s forwards;
  animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
  transform: scale(1);
}

.radio-input .label .text input[type="radio"]:checked {
  color: #fff;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
